<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools" package="com.test.myapplication">

    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
      android:functionalTest="false"
      android:handleProfiling="false"
      android:label="Tests for com.test.myapplication"
      android:name="androidx.test.runner.AndroidJUnitRunner"
      android:targetPackage="com.test.myapplication" />

    <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="29" />

</manifest>
